@import url(site.css);
@import url(page.css);

#globalWrapper {
	background: #fff url('images/bodybg.png') repeat-x top left;
}

#headerNav {
	top: 0px;
	font-size: 80%;
}

#headerWrapper {
	height: 102px;
}
#headerLogo { 
	height: 63px;
	width: 251px;
}

#headerLogo {
	height: 72px;
	width: 400px;
}

#headerLogo h1 {
	position: absolute;
	height: 72px;
	width: 400px;
	background-image: url(images/logo.png);
	margin-top: 0;
	top: 23px;
}

#headerSearch {
  text-align: right;
}

#headerSearch form {
  margin-top: -1em;
}

#mainContent {
	margin-top: 2em;
}

#headerNav ul {
	padding-top: 3px;
}

#pageNav {
	position: absolute;
	top: -85px;
	left: 31px;
	font-size: 0.9em;
	padding-bottom: 0.125em;
	border-bottom: 1px solid #e0e0e0;
	width: 935px;
}

#pageNav ul {
	float: left;
/*	clear: both;*/
	list-style-type: none;
	padding: 0 0 0.35em 16px;
	margin: 0;
}

#pageNav ul li {
	display: inline;
	padding-right: 1em;<
}

#pageNav, #pageNav a {
	color: #505050;
}

#t-page {
	background: url(images/page.png) no-repeat 0px 1px;
	padding-left: 20px !important;
	font-size: 110%;
}
#t-toolbox {
	background: url(images/wrench.png) no-repeat 0px 1px;
	padding-left: 20px !important;
	font-size: 110%;	
}
#t-personal {
}

#pageNav li#ca-form_edit a {
	color: #111;
}

#title {
	padding-right: 5px;
	padding-left: 31px;
}
#title h2 {

}
#title .sideitem {
	float: right;
	padding-top: 0.5em;
}

#title .sideitem #searchform	{
	margin-bottom: 0.15em;
}

#title .sideitem input#s {
	width: 96px;
}

#title .sideitem #searchsubmit	{}

#title .sideitem span {
	font-size: 50%;
}

#toc {
	position: absolute;
	top: 1em;
	right: 0px;
	width: 230px;
	padding-top: 1.39em;
	padding-left: 1em;
	font-size: 90%;
	background-color: #f6f6f6;
}

#toc ul {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}

#toc h2 {
	margin-top: 0;
}

#toc li.toclevel-2, #toc li.toclevel-3, #toc li.toclevel-4 {
	margin-left: 1em !important;
}

.noToc {
	width: 800px !important;
	padding-right: 0 !important;
}

.printfooter {
  display: none;
}

.floatright {
  float: right;
  margin-left: 1em;
}

.floatleft {
  float: left;
  margin-right: 1em;
}

#gentooev-news ul li {
  list-style-image: url(images/note.png);
  padding-top: -3px;
}
